
<table class="table">
  <tbody id="table-body">
    <% @json_data.each do |data| %>
  <tr>
    <td><%= data['Name'] %></td>
    <td><%= data['Type'] %></td>
    <td><%= data['Designed by'] %></td>
  </tr>
    <% end %>

  </tbody>
