
<table class="table">
  <tbody id="table-body">
      <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.category %></td>
      <td><%= item.designed_by %></td>
    </tr>
      <% end %>

  </tbody>
